{% extends 'layout.html' %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{  url_for('static',filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{social_media['blog_name']}}</h1>
                            <span class="subheading">{{social_media['blog_subname']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h4 class="post-subtitle">{{post.content[:155]}}...</h4>
                        </a>
                        <p class="post-meta">
                            Posted by 
                            <a href="#!"> {{post.author}} </a>
                            on  {{post.date}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- Pager-->
                    {% if prev!='#' %}
                        <div class=" mb-4" style="float: left;"><a class="btn btn-primary text-uppercase" href="{{prev}}">← Prev</a></div>
                    {% endif %}
                    {% if next!='#' %}
                        <div class=" mb-4" style="float: right;" ><a class="btn btn-primary text-uppercase" href="{{next}}">Next →</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock%}